/*****************
    header
*****************/

header {
    background: url("http://proof.nationalgeographic.com/files/2014/05/140522-nicklen-hawaii-waves-fea1.jpg");
    background-position: 80% 55%;
    max-width: 100%;
    height: 523px;
}

.top-logo-nav {
    margin-left: 141px;
    margin-right: 55px;

}

.logo {
    float: left;
}

.logo > h1 {
    width: 45px;
    height: 45px;
    font-size: 45px;
    line-height: 45px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;

}

.logo > p {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    margin-left: 14px;
    margin-top: 25px;
    font-family: "Oswald", sans-serif;

}

.main-text {
    position: relative;
    clear: left;
    top: 155px;
    margin-left: 197px;
    color: white;
    font-size: 97px;
    max-width: 902px
    align-items: center;
}

.main-text h1 {
    font-family: "Open Sans", sans-serif;
}

.main-text h5 {
    margin-left: 300px;
    margin-top: 10px;
    color: black;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-spaceing: normal;
}

.hnavlist {
    display: inline;
    float: right;
    margin-right: 169px;
    margin-top: 22px;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    width: 141px;
    font-size: 18px;
}

li {
    display: inline;
}

/*********************
    section content
*********************/

.content {
    margin-top: 70px;
    margin-left: 163px;
    background-color: white;
}

article {
    position: relative;
    float: left;
    max-width: 616px;
    height: 1007px;
}

article > h1 {
    font-family: "Oswald", sans-serif;
    font-size: 62px;
    line-height: 64px;
}
